{% extends "base.html" %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    <h1>Welcome to the ResilientCapital !</h1>
    {% if user.is_authenticated %}
        <h2>Hello {{ user.username }}</h2>
    {% else %}
        <h2>Register or Login if you'd like to</h2>
    {% endif %}
    <div class="container">
        <ul class="nav navbar-nav">

          <li><a class="navbar-brand" href="{% url 'sp50dma' %}">% of S&P 500 members above their 50 dma</a></li></br>
          <li><a class="navbar-brand" href="{% url 'sp200dma' %}">% of S&P 500 members above their 200 dma</a></li>
        </ul>
      </div>
  </div>

</div>
{% endblock %}